.App {
  text-align: center;
}

#results {
  width: 800px;
  margin: auto;
}
#yelp {
  border: solid;
  width: 300px;
  float: left;
  height: 500px;
}
#zomato {
  border: solid;
  width: 300px;
  float: right;
  height: 500px;
}